/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(202, 196, 255);  
    
    color: #000000;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(64, 45, 170);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

img.zweefrechts {
  float: right;
margin: 15px;
}

.Rand {
border-style:ridge;
border-width: 10px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(64, 45, 170);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(128, 117, 190);
}

nav li a.active {
    background-color: rgb(64, 45, 170);
}




